@model Survey_System.Models.PERSON
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">Kişi Kaydı Düzenleme</div>
        <hr>
        <form action="/Person/Edit" method="post">
            <input type="hidden" name="ID" value="@Model.ID" />
            <div class="form-group">
                <label for="input-1">Ad Soyad</label>
                <input type="text" class="form-control" name="NAMESURNAME" id="input-1" value="@Model.NAMESURNAME" placeholder="Ad Soyad Giriniz." maxlength="50" required>
            </div>
            <div class="form-group">
                <label for="input-2">Kullanıcı Kodu</label>
                <input type="text" class="form-control" name="CODE" id="input-2" value="@Model.CODE" placeholder="Kod Giriniz." maxlength="10" required>
            </div>
            <div class="form-group">
                <label for="input-3">Şifre</label>
                <input type="password" class="form-control" name="PASSWORD" id="input-3" value="@Model.PASSWORD" placeholder="Şifre Giriniz." maxlength="20" required>
            </div>
            <div class="icheck-material-primary icheck-inline">
                @if (Model.ISADMIN == "Y")
                {
                    <input type="radio" id="1" name="Answer" value="Evet" checked>
                    <label for="1">Evet</label>

                    <input type="radio" id="2" name="Answer" value="Hayır">
                    <label for="2">Hayır</label>
                }
                else
                {
                    <input type="radio" id="1" name="Answer" value="Evet" >
                    <label for="1">Evet</label>

                    <input type="radio" id="2" name="Answer" value="Hayır" checked>
                    <label for="2">Hayır</label>
                }

            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-tumblr text-white"><i class="icon-tag"></i> Kaydet</button>
            </div>
        </form>
    </div>
</div>