
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">Soru Kaydı Ekleme</div>
        <hr>
        <form action="/Question/Create">
            <div class="form-group">
                <label for="input-1">Soru</label>
                <input type="text" class="form-control" name="QUESTIONLINE" id="input-1" placeholder="Soru giriniz." maxlength="250" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-tumblr text-white"><i class="icon-tag"></i> Kaydet</button>
            </div>
        </form>
    </div>
</div>
